# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/build
/dist
/logs

# dependencies
/node_modules

# misc
package-lock.json

# Don't check in secret files
*secret.js
*.env
!*.example.env

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log
